In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import random
from scipy import stats
import datetime as dt
from datetime import timedelta
from sklearn.tree import DecisionTreeRegressor
from matplotlib.animation import FuncAnimation
import sys
from sklearn.model_selection import train_test_split
from sklearn import linear_model
import statsmodels.formula.api as smf
import scipy.stats as stats

In [6]:
SPP_path = r'C:\Users\felip\Desktop\Electricity\Energy Market\Energy Market (SPP)'

def add_info(df):
    intervals = df[df.columns[0]].values.tolist()
    dates = []
    times = []
    weekday = []
    months = []
    days = []
    hour = []
    for interval in intervals:
        date = interval.split(' ')[0]
        try:
            date = dt.datetime.strptime(date,'%Y-%m-%d').date()
        except:
            date = dt.datetime.strptime(date,'%m/%d/%Y').date()            
        dates.append(date)
        months.append(date.month)
        days.append(date.day)
        if date.weekday() < 5:
            weekday.append(True)
        else:
            weekday.append(False)
        time = interval.split(' ')[1].split('.')[0]
        time = dt.datetime.strptime(time,'%H:%M:%S').time()
        times.append(time)
        hour.append(dt.time(time.hour))
    df['Local Date'] = np.array(dates)
    df['Local Time'] = np.array(times)
    df['Hour'] = np.array(hour)
    df['Weekday'] = np.array(weekday)
    df['Month'] = np.array(months)
    df['Day'] = np.array(days)
    return df

def GMT2CT(s):
    date = s.split('T')[0]
    date = dt.datetime.strptime(date,'%Y-%m-%d').date()
    time = s.split('T')[1][:-1]
    hour = int(time.split(':')[0])
    if hour >= 6:
        hour = hour - 6
    else:
        hour = 24 + (hour - 6)
        date = date - timedelta(1)
    time = str(hour) + ':' + time.split(':')[1] + ':' + time.split(':')[2]
    time = dt.datetime.strptime(time,'%H:%M:%S').time()
    return [date, time]

In [9]:
gen_mix_2018 = pd.read_csv(SPP_path + '\Generation Mix By Fuel Type\GenMix_2018.csv')
list_intervals = gen_mix_2018[gen_mix_2018.columns[0]].values.tolist()
local_time = []
local_date = []
for value in list_intervals:
    local_date.append(GMT2CT(value)[0])
    local_time.append(GMT2CT(value)[1])
gen_mix_2018['Local Date'] = np.array(local_date)
gen_mix_2018['Local Time'] = np.array(local_time)

In [10]:
days_31 = []
for n in range(1,10):
    days_31.append('0'+str(n))
for n in range(10,32):
    days_31.append(str(n))
cal_dict = {'01':days_31,
            '02':days_31[0:28],
            '03':days_31,
           '04':days_31[0:-1],
            '05':days_31,
            '06':days_31[0:-1],
           '07':days_31,
            '08':days_31,
            '09':days_31[0:-1],
           '10':days_31,
           '11':days_31[0:-1],
           '12':days_31}

In [11]:
# Opening and concatenating RT datasets
path = r'C:\Users\felip\Desktop\Electricity\Energy Market\Energy Market (SPP)\RT\2018'
RT_path = 'RTBM-LMP-DAILY-SL-2018'
end = '.csv'
dfs = []
for key in cal_dict.keys():
    for value in cal_dict[key]:
        dfs.append(pd.read_csv(path+'\\'+key+'\\By_Day\\'+RT_path+key+value+end))
RT = pd.concat(dfs)
RT.head()

,Interval,GMT Interval,Settlement Location Name,PNODE Name,LMP,MLC,MCC,MEC
0,01/01/2018 00:05:00,01/01/2018 06:05:00,AEC,SOUC,255.8769,5.4654,0.0000,250.4115
1,01/01/2018 00:05:00,01/01/2018 06:05:00,AECC_CSWS,CSWS_AECC_LA,262.5802,5.0312,7.1375,250.4115
2,01/01/2018 00:05:00,01/01/2018 06:05:00,AECC_ELKINS,CSWSELKINSUNELKINS_RA,270.2234,3.0020,16.8099,250.4115
3,01/01/2018 00:05:00,01/01/2018 06:05:00,AECC_FITZHUGH,CSWSFITZHUGHPLT1,257.2724,6.8609,0.0000,250.4115
4,01/01/2018 00:05:00,01/01/2018 06:05:00,AECC_FLTCREEK,CSWSFLINTCRKUN1_JOU_AECC_RA,266.5657,-3.0577,19.2119,250.4115

In [12]:
RT2018_aggloc = RT.groupby('Interval')[['Interval',' LMP']].agg({'Interval':'first',
                                                                    ' LMP':'mean'})
RT2018 = add_info(RT2018_aggloc)
RT2018 = RT2018.rename(columns={' LMP':'LMP'})
RT2018.head()

,Interval,LMP,Local Date,Local Time,Hour,Weekday,Month,Day
Interval,,,,,,,,
01/01/2018 00:05:00,01/01/2018 00:05:00,246.567610,2018-01-01,00:05:00,00:00:00,True,1,1
01/01/2018 00:10:00,01/01/2018 00:10:00,64.864068,2018-01-01,00:10:00,00:00:00,True,1,1
01/01/2018 00:15:00,01/01/2018 00:15:00,164.686048,2018-01-01,00:15:00,00:00:00,True,1,1
01/01/2018 00:20:00,01/01/2018 00:20:00,173.867912,2018-01-01,00:20:00,00:00:00,True,1,1
01/01/2018 00:25:00,01/01/2018 00:25:00,163.353003,2018-01-01,00:25:00,00:00:00,True,1,1

In [13]:
# Opening and concatenating DA datasets
path = r'C:\Users\felip\Desktop\Electricity\Energy Market\Energy Market (SPP)\DA\2018'
DA_path = 'DA-LMP-SL-2018'
end = '0100.csv'
dfs = []
for key in cal_dict.keys():
    for value in cal_dict[key]:
        dfs.append(pd.read_csv(path+'\\'+key+'\\By_Day\\'+DA_path+key+value+end))
DA2018 = pd.concat(dfs)
DA2018.head()

,Interval,GMTIntervalEnd,Settlement Location,Pnode,LMP,MLC,MCC,MEC
0,01/01/2018 01:00:00,01/01/2018 07:00:00,AEC,SOUC,39.6809,0.8665,0.5970,38.2174
1,01/01/2018 01:00:00,01/01/2018 07:00:00,AECC_CSWS,CSWS_AECC_LA,38.3723,0.7331,-0.5781,38.2173
2,01/01/2018 01:00:00,01/01/2018 07:00:00,AECC_ELKINS,CSWSELKINSUNELKINS_RA,38.4189,0.4093,-0.2077,38.2173
3,01/01/2018 01:00:00,01/01/2018 07:00:00,AECC_FITZHUGH,CSWSFITZHUGHPLT1,38.5076,1.0540,-0.7637,38.2173
4,01/01/2018 01:00:00,01/01/2018 07:00:00,AECC_FLTCREEK,CSWSFLINTCRKUN1_JOU_AECC_RA,37.8395,-0.4387,0.0609,38.2173

In [14]:
DA2018_aggloc = DA2018.groupby('Interval')[['Interval','LMP']].agg({'Interval':'first',
                                                                    'LMP':'mean'})
DA2018_aggloc = add_info(DA2018_aggloc)
DA2018.head()

,Interval,GMTIntervalEnd,Settlement Location,Pnode,LMP,MLC,MCC,MEC
0,01/01/2018 01:00:00,01/01/2018 07:00:00,AEC,SOUC,39.6809,0.8665,0.5970,38.2174
1,01/01/2018 01:00:00,01/01/2018 07:00:00,AECC_CSWS,CSWS_AECC_LA,38.3723,0.7331,-0.5781,38.2173
2,01/01/2018 01:00:00,01/01/2018 07:00:00,AECC_ELKINS,CSWSELKINSUNELKINS_RA,38.4189,0.4093,-0.2077,38.2173
3,01/01/2018 01:00:00,01/01/2018 07:00:00,AECC_FITZHUGH,CSWSFITZHUGHPLT1,38.5076,1.0540,-0.7637,38.2173
4,01/01/2018 01:00:00,01/01/2018 07:00:00,AECC_FLTCREEK,CSWSFLINTCRKUN1_JOU_AECC_RA,37.8395,-0.4387,0.0609,38.2173

In [15]:
def ssr(prediction, test):
    return ((prediction - test)**2).sum()
def pe(prediction, test):
    return (abs((prediction - test)/test))*100
def filler(df, DA):
    price_list = df[DA].values.tolist()
    value = 0.0
    new_list = []
    for price in price_list:
        if math.isnan(price)==True:
            new_list.append(value)
        else:
            value = price
            new_list.append(price)
    df[DA] = np.array(new_list)
    return df

In [16]:
comparison = DA2018_aggloc.iloc[:,0:2].join(RT2018,how='right',lsuffix='_DA',rsuffix='_RT')
DART2018_5min = filler(comparison, 'LMP_DA')
gen_2018 = gen_mix_2018
new_index = []
for i in range(gen_2018.shape[0]):
    new_index.append(gen_2018['Local Date'].iloc[i].strftime("%m/%d/%Y") + ' ' + gen_2018['Local Time'].iloc[i].strftime("%H:%M:%S"))
gen_2018.index = np.array(new_index)
DART_gen_2018 = gen_2018.join(DART2018_5min,how='right',lsuffix='_gen',rsuffix='_price')
DART_gen_2018 = DART_gen_2018.rename(columns={' Average Actual Load':'Load',
                                             ' Wind Self':'Wind',
                                             ' Coal Market':'Coal_Mkt',
                                             ' Coal Self':'Coal_Self',
                                             'Local Time_price':'Local Time'})

In [35]:
def ssr_split4(df, s):
    if df.shape[0]>(288/4):
        smallest_y = 0
        smallest_x = 0
        for i in range(0, df.shape[0]):
            try:
                y_avg1 = df[s][0:i+1].values.mean()
                y_avg2 = df[s][i:df.shape[0]].values.mean()
                ssr = ((df[s][0:i+1].values - y_avg1)**2).sum() + ((df[s][i:df.shape[0]].values - y_avg2)**2).sum()
                if i == 0:
                    smallest_y = ssr
                if ssr < smallest_y:
                    smallest_y = ssr
                    smallest_x = i
            except:
                y_avg1 = df[s].values.mean()
                ssr = ((df[s][0:i+1].values - y_avg1)**2).sum()
                if ssr < smallest_y:
                    smallest_y = ssr
                    smallest_x = i
        smallest = df.iloc[0:smallest_x+1]
        largest = df.iloc[smallest_x+1:]
        if smallest.shape[0] > largest.shape[0]:
            temp = smallest
            smallest = largest
            largest = temp
        concat = [smallest] + [ssr_split4(largest, s)]
        return concat
    else:
        return df

def unnest(l, empty_l):
    for i in l:
        if type(i) == list:
            unnest(i, empty_l)
        else:
            empty_l.append(i)
            
def unnested_df(l):
    for df in l:
        means = np.empty(df.shape[0])
        means.fill(df['LMP_RT'].mean())
        df['Means'] = means
    unnested = pd.concat(l)
    unnested['Time'] = unnested.index
    unnested = unnested.sort_values('Time')
    return unnested

def sklearn_clusters(train_df, test_df):
    # converting datetime to float
    minutes = []
    for time in train_df.index:
        minutes.append(time.hour * 60 + time.minute + 0.1)
    train_df['minutes'] = np.array(minutes)
    minutes = []
    for time in test_df.index:
        minutes.append(time.hour * 60 + time.minute + 0.1)
    test_df['minutes'] = np.array(minutes)
    # testing existing module
    X = train_df['minutes'].values.reshape(-1,1)
    y = train_df['LMP_RT']
    # Fit regression model
    regr_1 = DecisionTreeRegressor(max_depth=3)
    regr_1.fit(X, y)
    # Predict
    X_test = test_df['minutes'].values.reshape(-1,1)
    y_1 = regr_1.predict(X_test)
    test_df['sklearn cluster'] = y_1
    price_leaves = []
    for price in y_1:
        if price not in price_leaves:
            price_leaves.append(price)
    branch_dfs = []
    for price in price_leaves:
        branch_dfs.append(test_df[test_df['sklearn cluster']==price])
    return branch_dfs

In [66]:
# system-wide, 5 predictors
# multi or single clustered -- comparings R^2

np.seterr(divide='print')
def err_handler(type, flag):
    print("Floating point error (%s) with flag %s" % (type, flag))
saved_handler = np.seterrcall(err_handler)
save_err = np.seterr(all='call')

n = 10
custom_PE_array = np.empty(n)
custom_R2_array = np.empty(n)
sklearn_PE_array = np.empty(n)
sklearn_R2_array = np.empty(n)

check = 0

R2 = []

for i in range(n):
    custom_PE_list = []
    custom_R2_list = []
    sklearn_PE_list = []
    sklearn_R2_list = []

    for j in range(1,13):
        by_month = DART_gen_2018[DART_gen_2018['Month']==j]

        train, test = train_test_split(by_month, test_size=0.33)

        train_data = train.groupby('Local Time')[['LMP_RT','LMP_DA','Load','Wind']].mean()
        train_data['RT_sem'] = train.groupby('Local Time')['LMP_RT'].sem()
        train_data['DA_sem'] = train.groupby('Local Time')['LMP_DA'].sem()        

        test_data = test.groupby('Local Time')[['LMP_RT','LMP_DA','Load','Wind']].mean()
        test_data['RT_sem'] = test.groupby('Local Time')['LMP_RT'].sem()
        test_data['DA_sem'] = test.groupby('Local Time')['LMP_DA'].sem() 

        test_data_copy = test_data.copy()
        
        size = test_data_copy.index.shape[0]
        test_data_copy['fitted RT (custom)'] = np.zeros(size)            
        cl = []
        unnest(ssr_split4(train_data, 'LMP_RT'), cl)
        for cluster in cl:
            result = smf.ols(formula="LMP_RT ~ LMP_DA + RT_sem + DA_sem + Load + Wind", data=cluster).fit()
            custom_R2_list.append(result.rsquared)
            for hour in cluster.index:
                test_data_copy['fitted RT (custom)'].loc[hour] = ( 
                                            test_data_copy['Wind'].loc[hour]*result.params[5] + 
                                            test_data_copy['Load'].loc[hour]*result.params[4] + 
                                            test_data_copy['DA_sem'].loc[hour]*result.params[3] + 
                                            test_data_copy['RT_sem'].loc[hour]*result.params[2] + 
                                            test_data_copy['LMP_DA'].loc[hour]*result.params[1] + 
                                            result.params[0])
        custom_PE_list.append(pe(test_data_copy['fitted RT (custom)'], test_data_copy['LMP_RT']).mean())
        
                
        branch_dfs = sklearn_clusters(train_data, test_data)
        size = test_data_copy.index.shape[0]
        test_data_copy['fitted RT (sklearn)'] = np.zeros(size) 
        for cluster in branch_dfs:
            result = smf.ols(formula="LMP_RT ~ LMP_DA + RT_sem + DA_sem + Load + Wind", data=cluster).fit()
            sklearn_R2_list.append(result.rsquared)
            R2.append(result.rsquared)
            for hour in cluster.index:
                test_data_copy['fitted RT (sklearn)'].loc[hour] = ( 
                                            test_data_copy['Wind'].loc[hour]*result.params[5] + 
                                            test_data_copy['Load'].loc[hour]*result.params[4] + 
                                            test_data_copy['DA_sem'].loc[hour]*result.params[3] + 
                                            test_data_copy['RT_sem'].loc[hour]*result.params[2] + 
                                            test_data_copy['LMP_DA'].loc[hour]*result.params[1] + 
                                            result.params[0])
        sklearn_PE_list.append(pe(test_data_copy['fitted RT (sklearn)'], test_data_copy['LMP_RT']).mean())
            
            
        check += np.where(test_data_copy['fitted RT (custom)']==0.0,1,0).sum()
        check += np.where(test_data_copy['fitted RT (sklearn)']==0.0,1,0).sum()
        if check > 0:
            print(check)
            break
                
    print('{}%'.format(10*i))

    custom_PE_array[i] = np.array(custom_PE_list).mean()
    custom_R2_array[i] = np.array(custom_R2_list).mean()
    sklearn_PE_array[i] = np.array(sklearn_PE_list).mean()
    sklearn_R2_array[i] = np.array(sklearn_R2_list).mean()


print('custom cluster:\n\tMAPE: {};\n\tMean R^2: {};'.format(custom_PE_array.mean(),custom_R2_array.mean()))
print('sklearn clusters:\n\tMAPE: {};\n\tMean R^2: {};'.format(sklearn_PE_array.mean(),sklearn_R2_array.mean()))
print(check)
len1 = len(R2)
for value in R2:
    if (value == np.inf) or (value == -np.inf):
        R2.remove(value)
len2 = len(R2)
print(np.nanmean(R2))
print(1 - len2/len1)

Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
0%
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (invalid value), with flag 8
10%
Floating point error (invalid value), with flag 8
Floating point error (divide by zero), with flag 1
Floating point error (invalid value), with flag 8
20%
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (invalid value), with flag 8
Floating point error (invalid value), with flag 8
30%
Floating point error (divide by zero), with flag 1
Floating point error (invalid value), with flag 8
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (invalid value), with flag 8
40%
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (invalid value), with flag 8
Floating point error (invalid value), with flag 8
50%
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
60%
70%
Floating point error (divide by zero), with flag 1
Floating point error (invalid value), with flag 8
Floating point error (divide by zero), with flag 1
Floating point error (invalid value), with flag 8
80%
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (divide by zero), with flag 1
Floating point error (invalid value), with flag 8
Floating point error (divide by zero), with flag 1
90%
custom cluster:
	MAPE: 14.524965134704667;
	Mean R^2: 0.8786060036535964;
sklearn clusters:
	MAPE: 7.145423209082639;
	Mean R^2: nan;
0
0.8733050399349351
0.027253668763102756

In [67]:
result.pvalues

Intercept    0.688472
LMP_DA       0.218317
RT_sem       0.118421
DA_sem       0.228826
Load         0.657219
Wind         0.514466
dtype: float64

In [68]:
cluster

,LMP_RT,LMP_DA,Load,Wind,RT_sem,DA_sem,minutes,sklearn cluster
Local Time,,,,,,,,
22:35:00,22.050405,26.015834,29217.779500,9007.050000,2.733751,3.328829,1355.1,18.498343
22:40:00,22.596977,30.398417,30433.542250,8892.600000,4.080932,3.964469,1360.1,18.498343
22:45:00,19.949738,27.177460,29092.961700,8022.070000,3.964912,3.333516,1365.1,18.498343
22:50:00,18.628343,24.222286,30207.370143,10270.300000,2.822053,2.355606,1370.1,18.498343
22:55:00,23.029239,26.497921,30044.825125,9540.450000,2.565508,3.490799,1375.1,18.498343
23:00:00,18.059316,24.760368,29605.223733,9372.666667,2.490142,2.328599,1380.1,18.498343
23:05:00,23.294075,29.918208,30650.629200,6624.120000,4.031609,3.211948,1385.1,18.498343
23:10:00,15.927953,22.484224,29275.886778,10158.211111,3.306479,3.133238,1390.1,18.498343
23:15:00,26.044762,27.742781,29085.998143,7484.528571,5.075209,3.244543,1395.1,18.498343
23:20:00,21.787780,26.370713,29290.001889,9206.166667,4.331247,3.503390,1400.1,18.498343
23:25:00,18.011666,22.864057,29318.908250,9582.462500,4.288891,3.712392,1405.1,18.498343
23:30:00,19.175896,25.860221,29212.249500,8472.120000,2.968912,2.981480,1410.1,18.498343
23:35:00,14.203235,23.955400,28737.968167,8777.383333,8.107512,3.957001,1415.1,18.498343
23:40:00,14.564607,24.659109,28856.640182,9183.145455,3.821272,2.355233,1420.1,18.498343
23:45:00,20.850216,27.463567,28855.569000,8237.881818,2.714269,3.211612,1425.1,18.498343
23:50:00,18.882605,24.580901,28756.779929,8559.335714,1.979741,2.236526,1430.1,18.498343
23:55:00,17.488149,23.801725,28095.004000,8360.490909,2.945540,2.913224,1435.1,18.498343